<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceolin.heroes_list">

    <application>
        <activity
            android:name=".ui.HeroesListActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.heroes_list" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>